*{
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
    --font-heading: 'Sen',sans-serif;
}

html {
    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    font-family: 'poppins',sans-serif;
}

/* common (class dung chung) */

a {
    text-decoration: none;
}

.btn {
display: inline-block;
min-width: 118px;
padding: 0 16px;
line-height: 50px;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 1.6rem;
font-weight: 600;
background: #171100;
border-radius: 999px;
}

.btn:hover{
    opacity: 0.8;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

/* Header */
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
position: relative;
padding: 8px 21px;
color: #5F5B53;
text-align: center;
font-family: Poppins;
font-size: 1.6rem;
}

.nav li.active a {
    cursor: pointer;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor; /* text shadow su dung khi hover vao chu bi giat giat*/
    color: #171100;
}

.nav li.active a:after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */

.hero {
    padding-top: 56px;
    padding-bottom: 64px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: fill;
    border-radius: 20px;
    display: block;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 28px 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .info {
    margin-left: 10px;
}

.hero-summary .lable {
color: #5F5B53;
font-family: Poppins;
font-size: 1.4rem;
font-weight: 400;
line-height: 26px; /* 185.714% */
}

.hero-summary .title {
color: #171100;
font-family: Poppins;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.7; /* 166.667% */
}

.hero-summary .item + .item {
    margin-top: 20px;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.heading {
 color: #171100;
font-family: var( --font-heading) ;
font-weight: 700;
letter-spacing: -1.16px;
}

.heading.lv1{
font-size: 5.8rem;
line-height: 1.17;
}

.heading.lv2{
color: #171100;
font-family: var(--font-heading);
font-size: 3.8rem;
font-weight: 700;
line-height: 48px; /* 126.316% */
letter-spacing: -0.76px;
}

.hero .desc {
margin-top: 22px;
color: #5F5B53;
font-family: Poppins;
font-size: 1.8rem;
line-height: 1.16; /* 166.667% */
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    margin-left: 28px;
    border: none;
    background: white;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero  span {
margin-left: 14px;
color: #171100;
font-family: Poppins;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.16; /* 166.667% */
 cursor: pointer;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
color: #171100;
padding: 0 10px 0 28px;
font-family: var(--font-heading);
font-size: 4.4rem;
font-style: normal;
font-weight: 700;
line-height: 1.22; /* 122.727% */
}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top .desc {
width: 458px;
color: #5F5B53;
margin-top: 16px;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 1.7; /* 166.667% */
}

.popular-top {
    display: flex;
    justify-content: space-between;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;    
    transition: ease-in 0.4s;
    cursor: pointer;
}

.popular-top .control {
    display: flex;
    align-items: center;
    gap: 18px;
}

.popular-top .control-btn:hover {
    background: var(--primary-color);
    color: white;
}



