*{
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
    --font-heading: 'Sen',sans-serif;
}

html {
    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    font-family: 'poppins',sans-serif;
}

/* common (class dung chung) */

a {
    text-decoration: none;
}

.btn {
display: inline-block;
min-width: 118px;
padding: 0 16px;
line-height: 50px;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 1.6rem;
font-weight: 600;
background: #171100;
border-radius: 999px;
transition: ease 0.5s;
}

.btn:hover{
    background: var(--primary-color);
    cursor: pointer;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

.line-clamp { /* can phai note vao*/
    -webkit-line-clamp: var(--line-clamp,1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 { /* can phai note vao*/
    --line-clamp: 2;
}

.break { /* can phai note vao*/
    word-break: break-all;
}


/* Header */
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
position: relative;
padding: 8px 21px;
color: #5F5B53;
text-align: center;
font-family: Poppins;
font-size: 1.6rem;
}

.nav li.active a {
    cursor: pointer;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor; /* text shadow su dung khi hover vao chu bi giat giat*/
    color: #171100;
}

.nav li.active a:after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */

.hero {
    padding-top: 56px;
    padding-bottom: 64px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: fill;
    border-radius: 20px;
    display: block;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 28px 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .info {
    margin-left: 10px;
}

.hero-summary .lable {
color: #5F5B53;
font-family: Poppins;
font-size: 1.4rem;
font-weight: 400;
line-height: 26px; /* 185.714% */
}

.hero-summary .title {
color: #171100;
font-family: Poppins;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.7; /* 166.667% */
}

.hero-summary .item + .item {
    margin-top: 20px;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.heading {
 color: #171100;
font-family: var( --font-heading) ;
font-weight: 700;
letter-spacing: -1.16px;
}

.heading.lv1{
font-size: 5.8rem;
line-height: 1.17;
}

.heading.lv2{
color: #171100;
font-family: var(--font-heading);
font-size: 3.8rem;
font-weight: 700;
line-height: 48px; /* 126.316% */
letter-spacing: -0.76px;
}

.hero .desc {
margin-top: 22px;
color: #5F5B53;
font-family: Poppins;
font-size: 1.8rem;
line-height: 1.16; /* 166.667% */
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.hero-cta:hover {
    opacity: 0.5;
}

.hero .watch-video {
    display: flex;
    margin-left: 28px;
    border: none;
    background: white;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero  span {
margin-left: 14px;
color: #171100;
font-family: Poppins;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.16; /* 166.667% */
 cursor: pointer;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
color: #171100;
padding: 0 10px 0 28px;
font-family: var(--font-heading);
font-size: 4.4rem;
font-style: normal;
font-weight: 700;
line-height: 1.22; /* 122.727% */
}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top .desc {
width: 458px;
color: #5F5B53;
margin-top: 16px;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 1.7; /* 166.667% */
}

.popular-top {
    display: flex;
    justify-content: space-between;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;    
    transition: ease-in 0.5s;
    cursor: pointer;
}

.popular-top .control {
    display: flex;
    align-items: center;
    gap: 18px;
}

.popular-top .control-btn:hover {
    background: var(--primary-color);
    color: white;
}

/* Course */
.popular .course-list {
    display: flex;
    margin: 55px 0 0 0;
    gap: 30px;
}

.popular .course-item:hover {
border-radius: 12px;
background: #FFF;
box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);

}

.popular .course-item {
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
    flex: 1;
}

.popular .course-item .thumb {
    border-radius: 12px 12px 0px 0px;
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .title a {
padding-right: 10px; /*padding dung de khi keo cua so web vao thi cac danh muc se khong bi sat vao phan chinh */
color: #171100;
 font-family: Poppins;
font-weight: 600;
font-size: 1.8rem;
line-height: 1.67;
letter-spacing: 0%;

}

.popular  .rating .value {
 color: #FEA31B;
font-family: Poppins;
font-size: 1.6rem;
font-weight: 400;
line-height: 28px; /* 175% */
}

.popular .course-item .desc {
 color: #5F5B53;
font-family: Poppins;
margin-top: 6px;
font-size: 1.4rem;
font-weight: 400;
line-height: 26px; /* 185.714% */
}

.popular .course-item .price {
color: #171100;
font-family: Poppins;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.6; /* 166.667% */
}

.popular .course-item  .book-btn {
    border: none;
} 

.popular .course-item  .book-btn:hover {
    color: white;
    background: var(--primary-color);
}

/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}

.feedback-list { /* cần note lại để sau học về javascript tạo hiệu ứng trượt*/
    display: flex;
    overflow: hidden;
}

.feedback-item {  /*note*/
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback-item .avatar {
 width: 72px;
height: 72px;
border-radius: 50%;
object-fit: cover;
}

.feedback-item .info .title {
font-family: var(--font-heading);
font-size: 2.4rem;
font-weight: 700;
line-height: 1.4; /* 141.667% */
color: #F7F7F7
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8; /* 185.714% */
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
width: 6px;
height: 6px;
margin-right: 6px;
border-radius: 50%;
background: #634700;
}

.feedback-item .dot.active {
    background: var(--primary-color);
    cursor: default;
}

.feedback-item .content {
    position: relative;
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    font-family: Poppins;
    font-weight: 400;
    font-style: italic;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

/* Featured */
.featured {
    margin-top: 135px;
    padding: 65px 0;
}

.featured .body {
    display: flex;
    justify-content: space-between;
}

.featured .images {
    display: flex;
    gap: 0 30px;
}

.featured .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.featured .images img:first-child {
    margin-top: 34px;
}

.featured .content { /* 1 cach de chinh style flex */
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.featured .desc {
margin-top: 16px;
color: #5F5B53;
font-family: Poppins;
font-size: 1.6rem;
font-weight: 400;
line-height: 1.7; /* 175% */
}

.featured .content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background: var(--primary-color);
}

.featured .content .cta-btn:hover {
    opacity: 0.5;
}














